:root {
  --cor-primaria: #1abc9c;
}

body {
  font-family: 'Georgia', serif;
  background-color: aliceblue;
  color: #333;
}

header {
  background-image: linear-gradient(to top, var(--cor-primaria) 0%, #14866f 100%);
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.galeria {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.historia {
  flex: 0 0 240px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  transition: transform 0.2s ease;
  font-size: small;
}

.historia:hover {
  transform: scale(1.02);
}

.historia img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.historia .tags {
  margin-bottom: 8px;
}

.tag {
  display: inline-block;
  background-color: var(--cor-primaria);
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-right: 5px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #09493c;
  color: #cfe7ff;
}

.autor-foto {
  float: left;
  width: 18%;
  height: auto;
  margin: 0 20px 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  float: left;
}

.sobre {
  display: left;
  align-items: left;
  gap: 10px;
  background-color: #09493c;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .autor-foto {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto 20px auto;
  }

  .sobre-autor {
    flex-direction: column;
    text-align: center;
  }
}

.slideshow-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  border: none;
  border-radius: 12px;
}

.video {
  width: 830px;
  height: 466,88px;
  border: none;
  border-radius: 12px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}
  
.mesa {
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 12px;
}