:root {
  --cor-primaria: #1abc9c;
}

body {
  font-family: 'Georgia', serif;
  background-image: url("Backgrounds/background-new-texture-paper-shape-high-quality-have-copy-space-text_440279-941.avif");
  background-color: #dadada;
  color: #333;
  padding: 15px;
}

header {
  background-image: linear-gradient(to top, var(--cor-primaria) 0%, #14866f 100%);
  color: #fcfbfb;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffffff;
  text-shadow: 0px 0px 15px #28ffc9;
  transition: all 0.3s ease;
}

.galeria {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.historia {
  flex: 0 0 230px;
  background-image: linear-gradient(to bottom, #e7fcf3 0%, #e4e4e4 100%);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  font-size: small;
}

.historia img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #09493c;
  color: #cfe7ff;
}

.autor-foto {
  float: left;
  width: 20%;
  height: auto;
  margin: 0 20px 10px 0;
}

.apollo-gif {
  float: left;
  width: 16%;
  height: auto;
  margin: 0 10px 5px 0;
}

.anfibio-gif {
  float: right;
  width: 18%;
  height: auto;
  margin: 0 5px 10px 0;
}

.sobre {
  display: left;
  align-items: left;
  gap: 10px;
  background-color: #09493c;
  flex-wrap: wrap;
  margin-right: 15px;
  padding-right: 15px;
}

@media (max-width: 700px) {
  .autor-foto {
    width: 100%;
  }

  .sobre-autor {
    flex-direction: column;
    text-align: center;
  }

  .apollo-gif {
    float: left;
    width: 25%;
    height: auto;
    margin: 0 10px 5px 0;
  }

  .anfibio-gif {
    float: right;
    width: 25%;
    height: auto;
    margin: 0 5px 10px 0;
  }
}

.slideshow-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  border: none;
  border-radius: 12px;
}

.video {
  width: 830px;
  height: 466, 88px;
  border: none;
  border-radius: 12px;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 12px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}

.mesa {
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 12px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 10.62375rem;
  height: 2.4375rem;
  margin-top: 12px;

  background-color: #09493c;
  color: #eeeeee;

  border-radius: 0.2rem;
  font-size: 0.9375rem;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #ebebeb;
  box-shadow: 0 0 10px #50ffbcaf;
  color: #0e0e0e;
  transform: scale(1.03);
}

.button:active {
  transform: scale(0.97);
}

.scene-divider {
  width: 100%;
}

.story-body {
  background: linear-gradient(to bottom, #005845 0%, #003b2d 100%);
  font-family: 'Times New Roman', serif;
  color: #0e0e0e;
  padding: 15px;
}

.story-container {
  max-width: 1000px;
  margin: auto;
  background-image: url("Backgrounds/background-new-texture-paper-shape-high-quality-have-copy-space-text_440279-941.avif");
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  border-radius: 10px;
}

.title-image {
  display: block;
  margin: 0 auto 30px;
  width: auto;
  height: 100px;
}

p {
  line-height: 1.8;
  font-size: 1.1rem;
  margin-bottom: 1.4em;
  text-align: justify;
}

.voltar {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: var(--cor-primaria, #1abc9c);
  text-decoration: none;
  font-weight: bold;
}

.voltar:hover {
  text-decoration: underline;
}

@media (max-width:600px) {
  p {
    font-size: .9rem;
  }

  .container {
    padding: 20px;
  }
}